.container{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;


}

table {
  width: 100%;
}

mat-header-cell {
  display:flex;
  justify-content:flex-end;
 }
 .mat-row {
  height: auto;
}

.mat-cell {
  padding: 8px 8px 8px 0;
}


.body{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;

}
.formulario{
  margin: auto;
  width: 50%;
}
